

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline:none;
    scroll-behavior: smooth;
    font-size: 'Poppins',sans-serif;
}

@media (max-width: 640px) {
    #responseDiv {
      display: flex;
      flex-direction: column;
    }
    #FormTag{
        margin-top: 142%;
    }
    #whatsappGetStarted{
            display: none;
    }
    #servicesection{
        margin-top: 150%;
    }
    /* #box {
        width: 50%; /* Show 2 items per row */
      
    
      /* #servicesection {
        flex-direction: column;
      } */
     
  }